<div class="jumbotron">
  <img class="img-fluid rounded mx-auto d-block " src="./images/LMlogo.png" alt="">
</div>


<div class="row templateRow container-fluid m-auto " style="margin-top: 7%;">
  {{#each templates}}
  <div class="col-md-4">
    <div class="card templateCard"
      style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
      <div class="card-body templateBody">
        <a href="/create/{{this.id}}">
          <h5 class="card-title" style="font-weight: bold;">{{this.title}}</h5>
        </a>
        <p class="libTeaser">{{this.teaser}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>