<div class="jumbotron">
  <img class="img-fluid rounded mx-auto d-block " src="./images/LMlogo.png" alt="">
</div>

<div class="row" style="margin-top: 7%;">
  <h1>Hello</h1>
  {{#each templates }}
  <p>{{this.title}}</p>
  {{/each}}


</div>