<div data-aos="zoom-in-down" class="jumbotron">
  <img class="img-fluid rounded mx-auto d-block " src="./images/LMlogo.png" alt="">
</div>

<div class="row container-fluid pb-4 mb-5" style="padding-top: 7%;">
  <div class="col-12">
    <div data-aos="flip-left" class="card text-center" style="width:500px">
      <div class="card-body">
        login
      </div>
      <form method="post" action="/api/login">
        Email: <input type="email" name="email" required /> </br>
        Password: <input type="password" name="password" required /> </br>
    <button>Login</button>
  </form>
    </div>
  </div>
</div>

