
<div class="jumbotron" data-aos="zoom-in-down">
  <img class="rounded mx-auto d-block" src="/images/robohelper.png" alt="robo helper" height="75px" width="75px">
	<div class="d-flex justify-content-center h-100">
		<div data-aos="flip-up" class="card-header" id="loginCard" style="width: 100%;">
			<div class="card-header text-center" style="width: 100%;">
        <h1>login</h1>
      </div>
        <form method="post" action="/api/login" class="text-center" style="width: 100%;">
        Email: <input type="email" name="email" required /> </br>
        Password: <input type="password" name="password" required /> </br>
        <button>Login</button>
        </form>
      </div>
  </div>
</div>
</div>

