<form method="post" action="/api/signup">
  Email: <input type="email" name="email" required /> </br>
  Password: <input type="password" name="password" required /> </br>
  Confirm Password<input type="password" name="confirmPassword" required /> </br>
  <button>Sign up</button>
</form>