<div class="jumbotron" data-aos="zoom-in-down">
  <div class="d-flex justify-content-center h-100">
		<div data-aos="flip-up" class="card-header" id="loginCard" style="width: 100%;">
			<div class="card-header text-center" style="width: 100%;">
         <h1>Signup</h1>
      </div>
      <form method="post" action="/api/signup" class="text-center" style="width: 100%;">
        Email: <input type="email" name="email" required /> </br>
        Password: <input type="password" name="password" required /> </br>
        Confirm Password<input type="password" name="confirmPassword" required /> </br>
        <button>Sign up</button>
      </form>
    </div>
  </div>
</div>
