<div class="row container-fluid" style="padding-top: 6%; margin: 0 auto;">
  <div class="col-12">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p>
          {{storyBody}}
        </p>
      </div>
    </div>
  </div>
</div>