<div class="row container-fluid" style="padding-top: 6%; margin: 0 auto;">
  <div class="col-12">
    <div data-aos="flip-up" class="card" style="width: 100%;">
      <div class="card-body">
        <h4 class="card-title" id="resultTitle" style="font-weight: bold;">{{title}}</h5>
          <p class="stories">
            {{storyBody}}
          </p>
      </div>
    </div>
  </div>
</div>